* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
html {
  font-family: "Work Sans", sans-serif;
  height: 100%;
  width: 100%;
}
.main-div {
   height:100vh;
   /* overflow-y: hidden; */
   text-align:center;
   overflow-x: hidden;
   margin-left:-16px;
   margin-right:-16px;
}
body {
  padding: 0 16px;
  background-image:linear-gradient( #fafafa, #f1f513 );
  /* background-repeat: no-repeat; */
  background-size: 100% 100vh;
   /* height: 100%; */
   width: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* animation: gradient 15s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.light-bulb-main{
  display:inline-block;
  margin-top:100px;
  margin-left: -100px;
}




header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 10px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  vertical-align: middle;
}

header h1 {
  color: #fff;
  font-family: 'Satisfy', cursive;
  font-weight: 200;
   display: inline-block;
   font-size: 2rem;
  
}

.main h1{
  color:rgba(255, 26, 5, 0.979);
  font-family: 'Satisfy',
  cursive;
  font-weight: 200;
  display: inline-block;
  font-size: 5rem;
}
.main-h3 {
  color: rgba(255, 5, 5, 0.979);
  font-family: 'Satisfy',
    cursive;
  font-weight: 200;
  display: inline-block;
  font-size: 3rem;
  margin-left: -100px;

}
.main {
  /* padding-left: 200px; */
  display:inline-block;
  /* padding-left: 750px; */
  /* padding-top: 200px; */
 text-align: left;
 position:relative;
 bottom :150px;   
  
}
/* .welcomediv{
  text-align: center;
  height: 820px;
  overflow: hidden;
} */
.footer {
 text-align: center;
   width: 100%;
  
  
}

.footer p {
  color: #AAAAAA;
  font-size: 1rem;
  font-weight: 100;
}
header i{
  color:white;
  font-size: 2.5rem;
  position:absolute;
  left:30px;
}
.welcomei{
  color:orange;
  font-size: 4rem;
  position:relative;
  right: 50px;

}

.note {
  background: #fff;
  border-radius: 7px;
  /* box-shadow: 0 2px 5px #ccc; */
  padding: 10px 15px;
  width: 270px;
  margin: 12px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  padding: 3px 0; 
}
.note p {
  font-size: 1rem;
  margin-bottom: 10px ;
  white-space: pre-wrap;
 word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: -5px; 
  margin-top: 15px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: white;
}

form.create-note {
  position: relative;
  width: 350px;
  margin: 30px auto 20px auto;
  background: #ffffff; 
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgb(138, 137, 137);  
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

.container input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(59, 43, 43, 0.068);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
}

button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}





.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
.btn-main{
  margin-left: 50px;
}

/* /// */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

canvas {
  display: block;
  /* vertical-align: bottom; */
  position: relative;
  top: 0px;
  left: 0; 
  z-index: 100;
  width: 600px;
  height: 500px;
}  

 #lightbulb {
  width: 600px;
  height: 500px;
  z-index: 200;
  /* position: absolute; 
  top: 100px;
  left: 200px; */
} 

svg#lightbulb {
  z-index: 200;
  mix-blend-mode: multiply;
}
/* svg#cutout {
  z-index: 300;
  pointer-events: none;
}  */

/* svg#cutout path {
  fill: #333;
}  */

 #Layer_3 polygon {
 position: relative; 
  opacity: 1;
  transform-origin: 50% ;
  transition: 500ms;
} 

#Layer_3 polygon:hover {
  transform: scale(1.2);
  z-index: 1000;
}

/* #tsparticles {
  position: absolute;
  width: 600px;
  height: 500px;
  background: linear-gradient(-45deg, #daf504, #f504d7, #b61924); 
  background-size: 1000% 1000%;
  animation: gradientAnimation 10000ms ease infinite;
} */
@media (max-width:550px) {
  .main{
    margin-top: 200px;
  } 
  .main h1 {
    font-size: 7rem !important;
  }
}
 @media (max-width: 987px){
   .main-div{
     overflow-y:scroll;
    
   }
   .main{
     margin-top: 200px;
     text-align: center;
   }
   .main-h3{
     padding-left: 100px;
   }
   .light-bulb-main{
      text-align: center;
      position:relative;
      left:50px;
   }

  } 
@media (max-width:680px){
.main h1{
  font-size: 3.5rem !important;
}
.main-h3{
   font-size:1.5rem;
}
.MuiButton-outlinedSizeLarge{
  
  font-size:1rem !important;
}
.btn-main{
  margin-top: 100px;
  margin-left:-25px;
}
.footer p{
  font-size:1rem;
}
}

@media (max-width: 987px){
svg{
  display:none;
}
.main{
  text-align: center;
  margin-left: 100px;
  margin-top: 300px;
}

}
@media(max-width:620px){
  html{
    overflow-x: hidden;
  }
  form.create-note{
    width: 300px;
  
  }
  .Notescont{
    margin-bottom: 50px;
  }
  body{
    background-image: none;
    background-color: rgb(253, 225, 147);
  }
 
}




.box {
  background-color: rgba(34, 34, 31, 0.768);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: auto auto;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box h2 {
  margin: 0 0 30px 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox label {
  color: #fff;
}

.box .inputBox input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.box input[type="submit"] {
  background: #ecf36a;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 20px;
  letter-spacing: 2px;
  outline: none;
  text-transform: uppercase;
}

.box input[type="submit"]:hover {
  opacity: 0.8;
}






